/*
.contact-container {
  width: 100%;
  margin: auto;
  max-width: 100%;
}
.contact-container .aviso {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-container .aviso img {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}
*/

