
.icon-sun:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */